# Don't commit the python refuse
env
__pycache__

# Don't commit the config
config.toml

# Don't include log files
*.log

# Avoid including any intermediate data downloads 
*.json
*.jsonl
*.csv
*.parquet
*.parquet.gzip
